@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 16;
  --background-end-rgb: 5, 5, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #09090b;
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(10, 10, 16, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(245, 158, 11, 0.4);
  border-radius: 3px;
}
